<h1>Stupid Coaching</h1>
<p class = "input">
  <%= @question%>
  <%= "-You"%>
</p>
<p class = "output">
  <%= @response %>
  <%= "-Your coach"%>
</p><br>
  <%=link_to "Ask an other question", ask_path %>
